* { border: 0; margin: 0; padding: 0; }

body {
	background-image: url("img/tree.gif");
	background-repeat: repeat;
	font-family: 'Press Start 2P', monospace;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 3100px;
	cursor: url(img/shovel.png) 5 32, auto;
}

.header { 
	position: sticky;
	display: grid;
	top: 30px;
	width: 800px;
	margin: 30px 0;
	padding: 30px;
	border: 3px double #000;
	border-radius: 10px;
	background-color: rgba(250, 250, 247, .9);
}

h2 { margin-bottom: 20px; text-align: center; }
p { text-align: center; }
#result-msg { padding-top: 15px; }

#results {
	width: 800px;
	margin-bottom: 30px;
	padding: 30px;
	border: 3px double #000;
	border-radius: 10px;
	background-color: rgba(250, 250, 247, .9);
}
.display-none { display: none; }
table { border-spacing: 0;	 }
td, th { 
	vertical-align: middle;
	padding: 5px; 
	text-align: left;
}
th { border-bottom: 3px solid #000; }
td:first-child, td:nth-child(2), th:first-child, th:nth-child(2) { text-align: center; }
td:last-child, th:last-child { width: 60%; }
.highlight { background-color: #ffd712; }

.field {
	background-image: url("img/trimmed-grass.gif");
	background-repeat: repeat;
	display: grid;
	grid-template-columns: repeat(32, 32px);
	grid-template-rows: repeat(80, 33px);
}

img { display: block; }
.hidden { opacity: 0; }
.unhidden { opacity: 100; }

.red {
	color: red;
}

.shovel-up {
	cursor: url(img/shovel_2.png) 5 32, auto;
}

/*** Positioning Craziness ***/

.field {
	--charles-c-col: 9;
	--charles-c-row: 6;
	--charles-h-col: 15;
	--charles-h-row: 12;
	--charles-a-col: 21;
	--charles-a-row: 18;
	--charles-r-col: 4;
	--charles-r-row: 15;
	--charles-l-col: 11;
	--charles-l-row: 21;
	--charles-e-col: 18;
	--charles-e-row: 27;
	--charles-s-col: 25;
	--charles-s-row: 33;

	--chickens-c-col: 9;
	--chickens-c-row: 42;
	--chickens-h-col: 15;
	--chickens-h-row: 48;
	--chickens-i-col: 22;
	--chickens-i-row: 54;
	--chickens-c2-col: 28;
	--chickens-c2-row: 59;
	--chickens-k-col: 4;
	--chickens-k-row: 57;
	--chickens-e-col: 11;
	--chickens-e-row: 63;
	--chickens-n-col: 18;
	--chickens-n-row: 69;
	--chickens-s-col: 25;
	--chickens-s-row: 74;
}

/*** Charles ***/
#charles-c-01 { grid-column: calc(var(--charles-c-col) + 1); grid-row: calc(var(--charles-c-row) + 0); }
#charles-c-02 { grid-column: calc(var(--charles-c-col) + 2); grid-row: calc(var(--charles-c-row) + 0); }
#charles-c-03 { grid-column: calc(var(--charles-c-col) + 0); grid-row: calc(var(--charles-c-row) + 1); }
#charles-c-04 { grid-column: calc(var(--charles-c-col) + 0); grid-row: calc(var(--charles-c-row) + 2); }
#charles-c-05 { grid-column: calc(var(--charles-c-col) + 0); grid-row: calc(var(--charles-c-row) + 3); }
#charles-c-06 { grid-column: calc(var(--charles-c-col) + 1); grid-row: calc(var(--charles-c-row) + 4); }
#charles-c-07 { grid-column: calc(var(--charles-c-col) + 2); grid-row: calc(var(--charles-c-row) + 4); }

#charles-h-01 { grid-column: calc(var(--charles-h-col) + 0); grid-row: calc(var(--charles-h-row) + 0); }
#charles-h-02 { grid-column: calc(var(--charles-h-col) + 0); grid-row: calc(var(--charles-h-row) + 1); }
#charles-h-03 { grid-column: calc(var(--charles-h-col) + 0); grid-row: calc(var(--charles-h-row) + 2); }
#charles-h-04 { grid-column: calc(var(--charles-h-col) + 0); grid-row: calc(var(--charles-h-row) + 3); }
#charles-h-05 { grid-column: calc(var(--charles-h-col) + 0); grid-row: calc(var(--charles-h-row) + 4); }
#charles-h-06 { grid-column: calc(var(--charles-h-col) + 1); grid-row: calc(var(--charles-h-row) + 2); }
#charles-h-07 { grid-column: calc(var(--charles-h-col) + 2); grid-row: calc(var(--charles-h-row) + 0); }
#charles-h-08 { grid-column: calc(var(--charles-h-col) + 2); grid-row: calc(var(--charles-h-row) + 1); }
#charles-h-09 { grid-column: calc(var(--charles-h-col) + 2); grid-row: calc(var(--charles-h-row) + 2); }
#charles-h-10 { grid-column: calc(var(--charles-h-col) + 2); grid-row: calc(var(--charles-h-row) + 3); }
#charles-h-11 { grid-column: calc(var(--charles-h-col) + 2); grid-row: calc(var(--charles-h-row) + 4); }

#charles-a-01 { grid-column: calc(var(--charles-a-col) + 0); grid-row: calc(var(--charles-a-row) + 0); }
#charles-a-02 { grid-column: calc(var(--charles-a-col) + 0); grid-row: calc(var(--charles-a-row) + 1); }
#charles-a-03 { grid-column: calc(var(--charles-a-col) + 0); grid-row: calc(var(--charles-a-row) + 2); }
#charles-a-04 { grid-column: calc(var(--charles-a-col) + 0); grid-row: calc(var(--charles-a-row) + 3); }
#charles-a-05 { grid-column: calc(var(--charles-a-col) + 0); grid-row: calc(var(--charles-a-row) + 4); }
#charles-a-06 { grid-column: calc(var(--charles-a-col) + 1); grid-row: calc(var(--charles-a-row) + 0); }
#charles-a-07 { grid-column: calc(var(--charles-a-col) + 1); grid-row: calc(var(--charles-a-row) + 2); }
#charles-a-08 { grid-column: calc(var(--charles-a-col) + 2); grid-row: calc(var(--charles-a-row) + 0); }
#charles-a-09 { grid-column: calc(var(--charles-a-col) + 2); grid-row: calc(var(--charles-a-row) + 1); }
#charles-a-10 { grid-column: calc(var(--charles-a-col) + 2); grid-row: calc(var(--charles-a-row) + 2); }
#charles-a-11 { grid-column: calc(var(--charles-a-col) + 2); grid-row: calc(var(--charles-a-row) + 3); }
#charles-a-12 { grid-column: calc(var(--charles-a-col) + 2); grid-row: calc(var(--charles-a-row) + 4); }

#charles-r-01 { grid-column: calc(var(--charles-r-col) + 0); grid-row: calc(var(--charles-r-row) + 0); }
#charles-r-02 { grid-column: calc(var(--charles-r-col) + 0); grid-row: calc(var(--charles-r-row) + 1); }
#charles-r-03 { grid-column: calc(var(--charles-r-col) + 0); grid-row: calc(var(--charles-r-row) + 2); }
#charles-r-04 { grid-column: calc(var(--charles-r-col) + 0); grid-row: calc(var(--charles-r-row) + 3); }
#charles-r-05 { grid-column: calc(var(--charles-r-col) + 0); grid-row: calc(var(--charles-r-row) + 4); }
#charles-r-06 { grid-column: calc(var(--charles-r-col) + 1); grid-row: calc(var(--charles-r-row) + 2); }
#charles-r-07 { grid-column: calc(var(--charles-r-col) + 2); grid-row: calc(var(--charles-r-row) + 0); }
#charles-r-08 { grid-column: calc(var(--charles-r-col) + 2); grid-row: calc(var(--charles-r-row) + 1); }
#charles-r-09 { grid-column: calc(var(--charles-r-col) + 1); grid-row: calc(var(--charles-r-row) + 0); }
#charles-r-10 { grid-column: calc(var(--charles-r-col) + 2); grid-row: calc(var(--charles-r-row) + 3); }
#charles-r-11 { grid-column: calc(var(--charles-r-col) + 2); grid-row: calc(var(--charles-r-row) + 4); }

#charles-l-01 { grid-column: calc(var(--charles-l-col) + 0); grid-row: calc(var(--charles-l-row) + 0); }
#charles-l-02 { grid-column: calc(var(--charles-l-col) + 0); grid-row: calc(var(--charles-l-row) + 1); }
#charles-l-03 { grid-column: calc(var(--charles-l-col) + 0); grid-row: calc(var(--charles-l-row) + 2); }
#charles-l-04 { grid-column: calc(var(--charles-l-col) + 0); grid-row: calc(var(--charles-l-row) + 3); }
#charles-l-05 { grid-column: calc(var(--charles-l-col) + 0); grid-row: calc(var(--charles-l-row) + 4); }
#charles-l-06 { grid-column: calc(var(--charles-l-col) + 1); grid-row: calc(var(--charles-l-row) + 4); }
#charles-l-07 { grid-column: calc(var(--charles-l-col) + 2); grid-row: calc(var(--charles-l-row) + 4); }

#charles-e-01 { grid-column: calc(var(--charles-e-col) + 0); grid-row: calc(var(--charles-e-row) + 0); }
#charles-e-02 { grid-column: calc(var(--charles-e-col) + 0); grid-row: calc(var(--charles-e-row) + 1); }
#charles-e-03 { grid-column: calc(var(--charles-e-col) + 0); grid-row: calc(var(--charles-e-row) + 2); }
#charles-e-04 { grid-column: calc(var(--charles-e-col) + 0); grid-row: calc(var(--charles-e-row) + 3); }
#charles-e-05 { grid-column: calc(var(--charles-e-col) + 0); grid-row: calc(var(--charles-e-row) + 4); }
#charles-e-06 { grid-column: calc(var(--charles-e-col) + 1); grid-row: calc(var(--charles-e-row) + 0); }
#charles-e-07 { grid-column: calc(var(--charles-e-col) + 1); grid-row: calc(var(--charles-e-row) + 2); }
#charles-e-08 { grid-column: calc(var(--charles-e-col) + 1); grid-row: calc(var(--charles-e-row) + 4); }
#charles-e-09 { grid-column: calc(var(--charles-e-col) + 2); grid-row: calc(var(--charles-e-row) + 0); }
#charles-e-10 { grid-column: calc(var(--charles-e-col) + 2); grid-row: calc(var(--charles-e-row) + 4); }

#charles-s-01 { grid-column: calc(var(--charles-s-col) + 2); grid-row: calc(var(--charles-s-row) + 0); }
#charles-s-02 { grid-column: calc(var(--charles-s-col) + 1); grid-row: calc(var(--charles-s-row) + 0); }
#charles-s-03 { grid-column: calc(var(--charles-s-col) + 0); grid-row: calc(var(--charles-s-row) + 1); }
#charles-s-04 { grid-column: calc(var(--charles-s-col) + 1); grid-row: calc(var(--charles-s-row) + 2); }
#charles-s-05 { grid-column: calc(var(--charles-s-col) + 2); grid-row: calc(var(--charles-s-row) + 3); }
#charles-s-06 { grid-column: calc(var(--charles-s-col) + 0); grid-row: calc(var(--charles-s-row) + 4); }
#charles-s-07 { grid-column: calc(var(--charles-s-col) + 1); grid-row: calc(var(--charles-s-row) + 4); }

/*** Chickens ***/
#chickens-c-01 { grid-column: calc(var(--chickens-c-col) + 1); grid-row: calc(var(--chickens-c-row) + 0); }
#chickens-c-02 { grid-column: calc(var(--chickens-c-col) + 2); grid-row: calc(var(--chickens-c-row) + 0); }
#chickens-c-03 { grid-column: calc(var(--chickens-c-col) + 0); grid-row: calc(var(--chickens-c-row) + 1); }
#chickens-c-04 { grid-column: calc(var(--chickens-c-col) + 0); grid-row: calc(var(--chickens-c-row) + 2); }
#chickens-c-05 { grid-column: calc(var(--chickens-c-col) + 0); grid-row: calc(var(--chickens-c-row) + 3); }
#chickens-c-06 { grid-column: calc(var(--chickens-c-col) + 1); grid-row: calc(var(--chickens-c-row) + 4); }
#chickens-c-07 { grid-column: calc(var(--chickens-c-col) + 2); grid-row: calc(var(--chickens-c-row) + 4); }

#chickens-h-01 { grid-column: calc(var(--chickens-h-col) + 0); grid-row: calc(var(--chickens-h-row) + 0); }
#chickens-h-02 { grid-column: calc(var(--chickens-h-col) + 0); grid-row: calc(var(--chickens-h-row) + 1); }
#chickens-h-03 { grid-column: calc(var(--chickens-h-col) + 0); grid-row: calc(var(--chickens-h-row) + 2); }
#chickens-h-04 { grid-column: calc(var(--chickens-h-col) + 0); grid-row: calc(var(--chickens-h-row) + 3); }
#chickens-h-05 { grid-column: calc(var(--chickens-h-col) + 0); grid-row: calc(var(--chickens-h-row) + 4); }
#chickens-h-06 { grid-column: calc(var(--chickens-h-col) + 1); grid-row: calc(var(--chickens-h-row) + 2); }
#chickens-h-07 { grid-column: calc(var(--chickens-h-col) + 2); grid-row: calc(var(--chickens-h-row) + 0); }
#chickens-h-08 { grid-column: calc(var(--chickens-h-col) + 2); grid-row: calc(var(--chickens-h-row) + 1); }
#chickens-h-09 { grid-column: calc(var(--chickens-h-col) + 2); grid-row: calc(var(--chickens-h-row) + 2); }
#chickens-h-10 { grid-column: calc(var(--chickens-h-col) + 2); grid-row: calc(var(--chickens-h-row) + 3); }
#chickens-h-11 { grid-column: calc(var(--chickens-h-col) + 2); grid-row: calc(var(--chickens-h-row) + 4); }

#chickens-i-01 { grid-column: calc(var(--chickens-i-col) + 0); grid-row: calc(var(--chickens-i-row) + 0); }
#chickens-i-02 { grid-column: calc(var(--chickens-i-col) + 0); grid-row: calc(var(--chickens-i-row) + 1); }
#chickens-i-03 { grid-column: calc(var(--chickens-i-col) + 0); grid-row: calc(var(--chickens-i-row) + 2); }
#chickens-i-04 { grid-column: calc(var(--chickens-i-col) + 0); grid-row: calc(var(--chickens-i-row) + 3); }
#chickens-i-05 { grid-column: calc(var(--chickens-i-col) + 0); grid-row: calc(var(--chickens-i-row) + 4); }

#chickens-c2-01 { grid-column: calc(var(--chickens-c2-col) + 1); grid-row: calc(var(--chickens-c2-row) + 0); }
#chickens-c2-02 { grid-column: calc(var(--chickens-c2-col) + 2); grid-row: calc(var(--chickens-c2-row) + 0); }
#chickens-c2-03 { grid-column: calc(var(--chickens-c2-col) + 0); grid-row: calc(var(--chickens-c2-row) + 1); }
#chickens-c2-04 { grid-column: calc(var(--chickens-c2-col) + 0); grid-row: calc(var(--chickens-c2-row) + 2); }
#chickens-c2-05 { grid-column: calc(var(--chickens-c2-col) + 0); grid-row: calc(var(--chickens-c2-row) + 3); }
#chickens-c2-06 { grid-column: calc(var(--chickens-c2-col) + 1); grid-row: calc(var(--chickens-c2-row) + 4); }
#chickens-c2-07 { grid-column: calc(var(--chickens-c2-col) + 2); grid-row: calc(var(--chickens-c2-row) + 4); }

#chickens-k-01 { grid-column: calc(var(--chickens-k-col) + 0); grid-row: calc(var(--chickens-k-row) + 0); }
#chickens-k-02 { grid-column: calc(var(--chickens-k-col) + 0); grid-row: calc(var(--chickens-k-row) + 1); }
#chickens-k-03 { grid-column: calc(var(--chickens-k-col) + 0); grid-row: calc(var(--chickens-k-row) + 2); }
#chickens-k-04 { grid-column: calc(var(--chickens-k-col) + 0); grid-row: calc(var(--chickens-k-row) + 3); }
#chickens-k-05 { grid-column: calc(var(--chickens-k-col) + 0); grid-row: calc(var(--chickens-k-row) + 4); }
#chickens-k-06 { grid-column: calc(var(--chickens-k-col) + 1); grid-row: calc(var(--chickens-k-row) + 2); }
#chickens-k-07 { grid-column: calc(var(--chickens-k-col) + 2); grid-row: calc(var(--chickens-k-row) + 0); }
#chickens-k-08 { grid-column: calc(var(--chickens-k-col) + 2); grid-row: calc(var(--chickens-k-row) + 1); }
#chickens-k-09 { grid-column: calc(var(--chickens-k-col) + 2); grid-row: calc(var(--chickens-k-row) + 3); }
#chickens-k-10 { grid-column: calc(var(--chickens-k-col) + 2); grid-row: calc(var(--chickens-k-row) + 4); }

#chickens-e-01 { grid-column: calc(var(--chickens-e-col) + 0); grid-row: calc(var(--chickens-e-row) + 0); }
#chickens-e-02 { grid-column: calc(var(--chickens-e-col) + 0); grid-row: calc(var(--chickens-e-row) + 1); }
#chickens-e-03 { grid-column: calc(var(--chickens-e-col) + 0); grid-row: calc(var(--chickens-e-row) + 2); }
#chickens-e-04 { grid-column: calc(var(--chickens-e-col) + 0); grid-row: calc(var(--chickens-e-row) + 3); }
#chickens-e-05 { grid-column: calc(var(--chickens-e-col) + 0); grid-row: calc(var(--chickens-e-row) + 4); }
#chickens-e-06 { grid-column: calc(var(--chickens-e-col) + 1); grid-row: calc(var(--chickens-e-row) + 0); }
#chickens-e-07 { grid-column: calc(var(--chickens-e-col) + 1); grid-row: calc(var(--chickens-e-row) + 2); }
#chickens-e-08 { grid-column: calc(var(--chickens-e-col) + 1); grid-row: calc(var(--chickens-e-row) + 4); }
#chickens-e-09 { grid-column: calc(var(--chickens-e-col) + 2); grid-row: calc(var(--chickens-e-row) + 0); }
#chickens-e-10 { grid-column: calc(var(--chickens-e-col) + 2); grid-row: calc(var(--chickens-e-row) + 4); }

#chickens-n-01 { grid-column: calc(var(--chickens-n-col) + 0); grid-row: calc(var(--chickens-n-row) + 0); }
#chickens-n-02 { grid-column: calc(var(--chickens-n-col) + 0); grid-row: calc(var(--chickens-n-row) + 1); }
#chickens-n-03 { grid-column: calc(var(--chickens-n-col) + 0); grid-row: calc(var(--chickens-n-row) + 2); }
#chickens-n-04 { grid-column: calc(var(--chickens-n-col) + 0); grid-row: calc(var(--chickens-n-row) + 3); }
#chickens-n-05 { grid-column: calc(var(--chickens-n-col) + 0); grid-row: calc(var(--chickens-n-row) + 4); }
#chickens-n-06 { grid-column: calc(var(--chickens-n-col) + 1); grid-row: calc(var(--chickens-n-row) + 1); }
#chickens-n-07 { grid-column: calc(var(--chickens-n-col) + 2); grid-row: calc(var(--chickens-n-row) + 1); }
#chickens-n-08 { grid-column: calc(var(--chickens-n-col) + 2); grid-row: calc(var(--chickens-n-row) + 2); }
#chickens-n-09 { grid-column: calc(var(--chickens-n-col) + 2); grid-row: calc(var(--chickens-n-row) + 3); }
#chickens-n-10 { grid-column: calc(var(--chickens-n-col) + 2); grid-row: calc(var(--chickens-n-row) + 4); }

#chickens-s-01 { grid-column: calc(var(--chickens-s-col) + 2); grid-row: calc(var(--chickens-s-row) + 0); }
#chickens-s-02 { grid-column: calc(var(--chickens-s-col) + 1); grid-row: calc(var(--chickens-s-row) + 0); }
#chickens-s-03 { grid-column: calc(var(--chickens-s-col) + 0); grid-row: calc(var(--chickens-s-row) + 1); }
#chickens-s-04 { grid-column: calc(var(--chickens-s-col) + 1); grid-row: calc(var(--chickens-s-row) + 2); }
#chickens-s-05 { grid-column: calc(var(--chickens-s-col) + 2); grid-row: calc(var(--chickens-s-row) + 3); }
#chickens-s-06 { grid-column: calc(var(--chickens-s-col) + 0); grid-row: calc(var(--chickens-s-row) + 4); }
#chickens-s-07 { grid-column: calc(var(--chickens-s-col) + 1); grid-row: calc(var(--chickens-s-row) + 4); }
